@charset "utf-8";
#container {
  float: right;
  width: 650px;
  padding-top: 50px;
}
#data {
  float: left;
  width: 400px;

  padding: 50px;
  border: 1px solid #f00;
}
#clave {
  width: 20px;
}
#valor {
  width: 400px;
}
#audio_1 {
  width: 300px;
  margin: 50px auto;
  background: #fc3;
  padding: 5px;
  border: 2px solid #f60;
  border-radius: 8px;
}
#audio_2 {
  width: 300px;
  margin: 50px auto;
  background: forestgreen;
  padding: 5px;
  border: 2px solid #f60;
  border-radius: 8px;
}

#video_1 {
  width: 630px;
  margin: 0px auto;
  background: #f80;
  padding: 3px;
  border: 2px solid #f60;
  border-radius: 10px;
}
